@media (max-width:2000px) {

    .logo {
        height: 45px;
        margin: 15px auto;
    }

    .nav-container {
        margin: 15px 0;
    }

    .nav-item {
        font-size: 1em;
    }

    .link {
        width: 75px;
    }
}

@media (max-width:1500px) {
    header {
        padding: 15px 0;
    }

    .logo {
        height: 40px;
        margin: 10px auto;
    }

    .nav-container {
        margin: 10px 0;
    }

    .nav-item {
        font-size: .8em;
    }

    .link {
        width: 60px;
        padding: 14px;
    }
}

@media (max-width:1000px) {
    header {
        padding: 10px 0;
    }

    .logo {
        height: 35px;
    }

    .nav-item {
        font-size: .75em;
    }

    .link {
        width: 55px;
    }
}

@media (max-width:750px) {
    header {
        height: 80px;
        padding: 20px;
        transition: .5s;
    }

    .logo {
        gap: 10px;
        height: 40px;
        aspect-ratio: auto;
        margin: 0;
    }

    .navbar {
        display: grid;
        width: min(100dvw, 550px);
        padding: 10px 20px;
        gap: 30px;
    }

    .upper-nav {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-nav,
    .lower-nav {
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-item {
        flex-direction: column;
        gap: 6px;
        width: 100%;
        height: 80px;
        /* margin: 0; */
        padding: 0;
        background: var(--gray);
        color: var(--white);
        font-size: .8em;
        border: none;
        border-radius: 10px;
    }
}

@media (max-width:450px) {
    .navbar {
        gap: 15px;
    }

    .nav-item {
        height: 70px;
        font-size: .75em;
    }
}

@media (max-width:350px) {
    .navbar {
        gap: 10px;
    }

    .nav-item {
        gap: 3px;
        font-size: .7em;
    }
}

@media (max-width:300px) {
    header {
        height: 75px;
        padding: 20px 10px;
    }

    .logo {
        height: 35px;
    }

    .head-title,
    .menu-btn {
        font-size: 1.15em;
    }

    .navbar {
        padding: 10px;
    }

    .nav-item {
        height: 60px;
        font-size: .65em;
    }
}
