@media (max-width:2000px) {

    .logo,
    .profile {
        width: 45px;
        margin: 15px auto;
    }

    .nav-container {
        margin: 15px 0;
    }

    .nav-item {
        font-size: 1em;
    }

    .link {
        width: 75px;
    }
}

@media (max-width:1500px) {
    header {
        padding: 15px 0;
    }

    .logo,
    .profile {
        width: 40px;
        margin: 10px auto;
    }

    .nav-container {
        margin: 10px 0;
    }

    .nav-item {
        font-size: .8em;
    }

    .link {
        width: 60px;
        padding: 14px;
    }
}

@media (max-width:1000px) {
    header {
        padding: 10px 0;
    }

    .logo,
    .profile {
        width: 35px;
    }

    .nav-item {
        font-size: .75em;
    }

    .link {
        width: 55px;
    }
}

@media (max-width:750px) {
    header {
        width: 100%;
        height: 80px;
        padding: 20px;
        transition: .5s;
    }

    .head-box {
        width: 100%;
    }

    .logo {
        gap: 10px;
        width: auto;
        height: 40px;
        aspect-ratio: auto;
        margin: 0;
    }

    .head-title,
    .link-title,
    .menu-btn {
        display: flex;
    }
    
    .head-title,
    .menu-btn {
        color: var(--white);
        font-size: 1.3em;
        font-weight: 600;
    }

    .menu-btn {
        background: none;
        border: none;
    }

    .navbar {
        display: grid;
        width: min(100dvw, 500px);
        padding: 10px 20px;
        gap: 20px;
    }

    .upper-nav {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-nav,
    .lower-nav {
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-item {
        flex-direction: column;
        gap: 6px;
        width: 100%;
        height: 90px;
        margin: 0;
        padding: 0;
        background: var(--gray);
        color: var(--white);
        font-size: .85em;
        border: none;
        border-radius: 10px;
    }
}

@media (max-width:450px) {
    .navbar {
        gap: 15px;
    }
}

@media (max-width:350px) {
    .nav-item {
        height: 75px;
        font-size: .8em;
    }
}
