
@media (max-width:2000px) {
    header {
        padding: 10px 0;
    }

    .logo,
    .profile {
        height: 40px;
        margin: 10px auto;
    }

    .nav-container {
        margin: 10px 0;
    }

    .nav-item {
        font-size: .9em;
    }

    .link {
        width: 70px;
        padding: 17px;
    }
}

@media (max-width:1500px) {
    .nav-item {
        font-size: .8em;
    }

    .link {
        width: 60px;
        padding: 14px;
        border-width: 3px;
    }
}

@media (max-width:1024px) {
    header {
        padding: 7px 0;
    }

    .logo,
    .profile {
        height: 30px;
        margin: 7px auto;
    }

    .nav-container {
        margin: 7px 0;
    }

    .nav-item {
        font-size: .7em;
    }

    .link {
        width: 50px;
        padding: 10px;
    }
}

@media (max-width:768px) {
    .nav-item {
        font-size: .6em;
    }
    .link {
        width: 40px;
    }
}

@media (max-width:600px) {
    header {
        width: 100vw;
        height: 110px;
        padding: 30px;
        transition: .5s;
    }

    .logo {
        height: 50px;
        margin: 0;
        gap: 10px;
    }

    .head-title, .link-title, .menu-btn {
        display: flex;
        color: var(--white);
    }

    .head-title, .menu-btn {
        font-size: 1.5em;
        font-weight: 600;
    }

    .nav-container {
        margin: 0;
        transition: 1s;
    }

    .navbar {
        display: grid;
        width: 100vw;
        gap: 20px;
        padding: 30px;
    }

    .upper-nav {
        grid-template-columns: repeat(2, 1fr);
    }

    .main-nav, .lower-nav {
        grid-template-columns: repeat(3, 1fr);
    }

    .nav-item {
        flex-direction: column;
        width: 100%;
        height: 90px;
        gap: 5px;
        margin: 0;
        background: var(--gray);
        font-size: 1em;
        border: none;
        border-radius: 10px;
    }

    .active {
        background: var(--theme);
    }
}

@media (max-width:425px) {
    header {
        height: 80px;
        padding: 20px;
    }

    .logo {
        height: 40px;
    }

    .head-title, .menu-btn {
        font-size: 1.2em;
    }

    .navbar {
        padding: 20px;
        gap: 15px;
    }

    .nav-item {
        height: 80px;
        font-size: .8em;
    }
}

@media (max-width:375px) {
    .navbar {
        padding: 15px;
    }

    .nav-item {
        height: 70px;
    }
}

@media (max-width:320px) {
    .navbar {
        gap: 10px;
    }

    .nav-item {
        height: 70px;
        font-size: .7em;
    }
}