:root {
    --black: #000000;
    --dark: #161616;
    --gray: #303030;
    --light: #dfdfdf;
    --red: #ff0000;
    --theme: #c90000;
    --white: #ffffff;
}

header {
    flex-direction: column;
    padding: 20px 0;
    background: var(--dark);
}

.logo, .profile {
    width: 55px;
    aspect-ratio: 1;
    margin: 20px auto;
}

.logo img {
    height: 100%;
}

.head-title, .link-title, .menu-btn {
    display: none;
}

.nav-container {
    flex-grow: 1;
    flex-direction: column;
    margin: 20px 0;
    transition: 1s;
}

.navbar {
    list-style: none;
}

.nav-item {
    justify-content: center;
    color: var(--light);
    font-size: 1.15em;
    transition: .5s;
}

.link {
    width: 90px;
    padding: 20px;
    border-left: 4px solid var(--dark);
    border-right: 4px solid var(--dark);
}

.link:hover {
    color: var(--red);
    border-right-color: var(--theme);
}

.active {
    background: var(--theme) !important;
    color: var(--white) !important;
    border-color: var(--theme);
}

.profile {
    background: var(--gray);
    color: var(--white);
    border-radius: 50px;
}
