:root {
    --black: #000000;
    --dark: #141414;
    --gray: #303030;
    --light: #dadada;
    --red: #ff0000;
    --theme: #dd0000;
    --white: #ffffff;
}

header {
    flex-direction: column;
    height: 100vh;
    padding: 15px 0;
    background: var(--dark);
}

.head-box {
    width: 100%;
    justify-content: space-between;
}

.logo,
.profile {
    height: 50px;
    aspect-ratio: 1;
    margin: 15px auto;
}

.logo img {
    height: 100%;
}

.menu-btn {
    display: none;
}

.head-title,
.link-title {
    display: none;
}

.nav-container {
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px 0;
}

.navbar {
    list-style: none;
}

.nav-item {
    justify-content: center;
    color: var(--light);
    font-size: 1.1em;
    transition: .5s;
}

.link {
    width: 90px;
    padding: 20px;
    border-right: 4px solid var(--dark);
    border-left: 4px solid var(--dark);
}

.link:hover {
    color: var(--red);
    border-color: var(--theme);
}

.active {
    background: var(--theme) !important;
    color: var(--white) !important;
    border-color: var(--theme) !important;
}

.profile {
    background: var(--gray);
    border-radius: 50px;
}
