* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.p-fixed {
    position: fixed;
}

.d-flex {
    display: flex;
    align-items: center;
}

.fld-column {
    flex-direction: column;
}

.d-none {
    display: none;
}

.h-full {
    height: 100dvh;
}

.w-100 {
    width: 100%;
}

.j-space {
    justify-content: space-between;
    width: 100%;
}

.opacity-0 {
    opacity: 0;
}

.active {
    background: var(--theme) !important;
    color: var(--white) !important;
    border-color: var(--theme) !important;
}

.cover {
    width: 100vw;
    background: var(--theme);
    transition: 1.2s ease-in-out;
    z-index: 100;
}

.uncover {
    height: 0;
}
