* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.p-fixed {
    position: fixed;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-none {
    display: none;
}

.h-full {
    height: 100dvh;
}

.j-space {
    justify-content: space-between;
    width: 100%;
}

.opacity-0 {
    opacity: 0;
}
