* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

a,
button,
input {
    outline: none;
}

.p-fixed {
    position: fixed;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-none {
    display: none;
}

.opacity-0 {
    opacity: 0;
    pointer-events: none;
}

.h-full {
    height: 100vh;
}